<form (submit)="guardar()" [formGroup]="form">

    <input type="text" formControlName="importe" placeholder="Importe de la factura" autocomplete="off"> <br> <br>

    <select formControlName="clienteSeleccionadoId">
    
        <option value="0" disabled selected>-Seleccionar-</option>

        <option *ngFor="let clienteDTO of clientesDTO" [value]="clienteDTO.id">
        
            {{ clienteDTO.nombre }} {{ clienteDTO.apellidos }}

        </option>

    </select>

    <br> <br>

    <button type="submit">Guardar factura</button>

</form>